{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans " | Log Out" %}{% endblock title %}

{% block content %}
<div class="container-fluid my-md-5 py-4">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-5 col-xl-3 p-3">
            <h2 class="display-4">{% trans "Sign Out" %}</h2>
            <hr>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn btn-success btn-block">{% trans 'Sign Out' %}</button>
            </form>
            <p class="text-muted mt-3">
                Cancel and <a href="{% url 'pages:home' %}" class="primary-link">return to the home page</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
