{% extends 'base.html' %}

{% block title %} | Recipes{% endblock title %}

{% block content %}
    <main class="container my-5 px-5">
        <div class="row">
            <div class="col-12">
                <h1 class="font-italic">Recipes from the PizzaVegan Staff</h1>
                <hr>
            </div>
            {% for article in article_list %}
                <article class="col-12 col-md-6 col-lg-4 d-flex flex-column mt-3 mb-5">
                    <img src="{{ article.featured_image.url }}" alt="{{ article.title }}" class="articles-list-image rounded" />
                    <h4 class="articles-list-post-title mt-3">
                        <a href="{% url 'articles:article_detail' article.slug %}" class="text-success">
                            {{ article.title }}
                        </a>
                    </h4>
                    <p class="articles-list-post-meta mt-1">Posted on {{ article.created_on|date:'F j, Y' }}</p>
                    <p>{{ article.subtitle }}</p>
                    <a href="{% url 'articles:article_detail' article.slug %}" class="btn btn-outline-success btn-block mt-auto">
                        Read More
                    </a>
                </article>
            {% empty %}
                <p>Sorry, there are no recipes at this time.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}